<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Austria
		</div>
	</div>
	<ul class="list-group">
		<li class="list-group-item">Austrian Diving Team</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Denmark
		</div>
	</div>
	<ul class="list-group">
	<li class="list-group-item">LUK2002</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Finland
		</div>
	</div>
	<ul class="list-group">
	<li class="list-group-item">Vantaa Diving Team</li>
	<li class="list-group-item">Tiirat Diving Team</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Great Britain
		</div>
	</div>
	<ul class="list-group">
	<li class="list-group-item">Beaumont Diving Academy</li>
	<li class="list-group-item">Dive London Aquatic Center</li>
	<li class="list-group-item">Southampton Diving Academy</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Italy
		</div>
	</div>
	<ul class="list-group">
	<li class="list-group-item">Italian Diving Team</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Monaco
		</div>
	</div>
	<ul class="list-group">
	<li class="list-group-item">AS Monaco</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Poland
		</div>
	</div>
	<ul class="list-group">
	<li class="list-group-item">Polish Diving Team</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Sweden
		</div>
	</div>
	<ul class="list-group">
	<li class="list-group-item">Malmö KK</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Switzerland
		</div>
	</div>
	<ul class="list-group">
	<li class="list-group-item">Swiss Diving Team</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			Norway
		</div>
	</div>
	<ul class="list-group">
	<li class="list-group-item">Bærum Stupeklubb</li>
	<li class="list-group-item">Kristiansand Stupklubb</li>
	<li class="list-group-item">Pingvin Stupklubb</li>
	<li class="list-group-item">Randabergstuperne</li>
	<li class="list-group-item">SPINN</li>
	<li class="list-group-item">Stavanger Stupe Club</li>
	<li class="list-group-item">Bergen Stupeklubb</li>
	</ul>
</div>