<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">Meet Manager:</div>
	</div>
	<div class="panel-body">
		Claus Andreas Gundersen 901 66 005
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">Speaker:</div>
	</div>
	<div class="panel-body">
		Trygve Pedersen 926 18 795
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">Banquet Manager:</div>
	</div>
	<div class="panel-body">
		Claus Andreas Gundersen 901 66 005 <br/>
		Astrid Moe Holm 909 60 533
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">Technical:</div>
	</div>
	<div class="panel-body">
		Paul Joachim Bloch Thorsen 932 99 995
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">Economy:</div>
	</div>
	<div class="panel-body">
		Claus Andreas Gundersen 901 66 005
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">Sponsorship Manager:</div>
	</div>
	<div class="panel-body">
		Claus Andreas Gundersen 901 66 005
	</div>
</div>