<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">Team Manager:</div>
	</div>
	<div class="panel-body">
		Claus Andreas Gundersen +47 901 66 005
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">Technical Officer:</div>
	</div>
	<div class="panel-body">
		Anett Thuestad +47 951 29 803
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">Medical:</div>
	</div>
	<div class="panel-body">
		Anna Maja Holm Thorsen +47 412 48 220
	</div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">Transportation:</div>
	</div>
	<div class="panel-body">
		Astrid Moe Holm +47 909 60 533
	</div>
</div>