<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="panel-title">
			Meals
		</div>
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Day</th>
				<th>Meal</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Wednesday</td>
				<td>Dinner</td>
				<td>18:00 - 19:00</td>
			</tr>
			<tr>
				<td>Thursday</td>
				<td>Lunch</td>
				<td>12:00 - 14:00</td>
			</tr>
			<tr>
				<td></td>
				<td>Dinner</td>
				<td>19:00 - 20:00</td>
			</tr>
			<tr>
				<td>Friday</td>
				<td>Lunch</td>
				<td>12:00 - 14:00</td>
			</tr>
			<tr>
				<td></td>
				<td>Dinner</td>
				<td>19:00 - 20:00</td>
			</tr>
			<tr>
				<td></td>
				<td>Coaches and supervisors evening</td>
				<td>20:00 - 23:00</td>
			</tr>
			<tr>
				<td>Saturday</td>
				<td>Lunch</td>
				<td>12:00 - 14:00</td>
			</tr>
			<tr>
				<td></td>
				<td>Dinner / Banquet</td>
				<td>19:00 - 23:00</td>
			</tr>
			<tr>
				<td>Sunday</td>
				<td>Lunch</td>
				<td>12:00 - 14:00</td>
			</tr>
		</tbody>
	</table>
</div>