<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bergen Open 2017</title>
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
	<link rel="stylesheet" href="bergenopen.css">
</head>
<body ng-app="bo">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/">Bergen Open 2017</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li ng-class="{'active': active('/')}"><a ng-href="#/">Program <span ng-if="active('/')" class="sr-only">(current)</span></a></li>
					<li ng-class="{'active': active('/contact')}"><a ng-href="#/contact">Contact <span ng-if="active('/contact')" class="sr-only">(current)</span></a></a></li>
					<!--					
					<li ng-class="{'active': active('/clubs')}"><a ng-href="#/clubs">Clubs & Countries <span ng-if="active('/clubs')" class="sr-only">(current)</span></a></a></li>
					<li ng-class="{'active': active('/meals')}"><a ng-href="#/meals">Meals <span ng-if="active('/meals')" class="sr-only">(current)</span></a></a></li>
					-->
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-9">
				<div class="alert alert-success" ng-if="showCached">
					<strong>Application saved!</strong> You can now use this application without being online!
				</div>
				<div ng-view></div>
			</div>
			<div class="col-xs-12 col-sm-3">
				<div class="panel panel-primary sponsors">
					<div class="panel-heading">
						<div class="panel-title">
							Sponsors
						</div>
					</div>
					<div class="panel-body">
						<a href="http://www.bergen-stupeklubb.no/" target="_blank">
							<img src="bsk.png">
						</a>
						<a href="http://www.gtravel.no/" target="_blank">
							<img src="gtravel.png">
						</a>
						<a href="http://www.zurhaarrubb.no/" target="_blank">
							<img src="rubb.png">
						</a>
						<img src="bergenkommune.jpg">
						<a href="http://adoarena.no/" target="_blank">
							<img src="ado.jpg">
						</a>
						<a href="http://www.geitangerbygg.no/" target="_blank">
							<img src="geitanger.jpg">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="bergenopen.js"></script>
</body>
</html>